body{
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(255, 160, 179, 1) 100%);

}
header {
   background-image: url(img/5d2f1e29a7e45/5d2f1e29ab999.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

    padding: 20px 0;
    border-radius: 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
  
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #5dc5f2 ;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #ea0bbd;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    color: rgb(138, 36, 142);
   
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #ea0bbd;
    border-radius: 10px;

    
}
.produtos li:hover{
    border-color:#5dc5f2 ;
    background-color: #FEF598;
   
}
.produtos li:active{
    border-color: #FEF598;
}
.produtos li:hover h2{
    font-size: 33px;
}


.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer {
    text-align: center;
}
.mapa{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
}
h2{
     
    color: #ea0bbd;
    font-size: 28px;
    font: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
iframe{
    padding: 20px;
}
@media screen and (max-width: 480px) {

    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios,
    .imagem-beneficios {
        width: 100%;
    }
}

    

